@import './vars';

.movie {
    display: inline-block;
    // display: block;
    // float: left;
    font-size: 1.6rem;
    padding: 2rem;
    // width: 25%;
    width: calc(150px + 4rem);
    min-height: calc(230px + 15rem);
    vertical-align: middle;
    margin: 0.5rem;
    // flex-grow: 1;
    box-sizing: border-box;
    transition: width 200ms;
    box-shadow: $boxShadow;

    &__image-container {
        height: 230px;
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    &__image {
        max-height: 100%;
        max-width: 100%;
        width: auto;
    }

    &__actors {
        display: none;

    }

    &--light {
        color: #000;
    }

    &--dark {
        color: #FFF;
    }
}
